.task-1 {
  margin: auto;
  max-width: 400px;

  margin-top: 100px;
  margin-bottom: 100px;

  background-color: rgb(250, 250, 250);
}

.timer {
  display: flex;
  gap: 20px;

  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 30px;
}

.label {
  font-size: 10px;
  text-transform: uppercase;
}
