.task-1 {
  margin: auto;
  background-color: rgb(255, 255, 255);
  max-width: 400px;

  margin-top: 100px;
  margin-bottom: 100px;
}

.timer {
  display: flex;
  gap: 15px;

  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}
